<!doctype html>
<html>
<head>
    <style>
        .author{
            font-style: italic;
            font-size: 10pt;
        }
    </style>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css?q=1') }}"/>-->
    <title>Blogz</title>
</head>
<body>
<a href='/'>home</a>&nbsp; &nbsp;<a href='/blog'>all posts</a>&nbsp; &nbsp;<a href='/add'>new post</a>
&nbsp; &nbsp;<a href='/login' style='float:right'>login</a><p style='float:right'>&nbsp; &nbsp;</p><a href='/logout' style='float:right'>logout</a>


<div class='wrapper2'>
{% block content %}

{% endblock %}
    <div>
        {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                    <li class="error">{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}
    </div>

</div>

</body>
</html>